
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /landingpage

    # Admin URLs
    RewriteRule ^admin(/.*)?$ admin.php/$1 [L,QSA]

    # Public website
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(img|css|js)
    RewriteRule ^(.*)$ index.php/$1 [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 index.php
</IfModule>


