/*! Color Scheme 1 */
a {
  color: #43bccd;
}

a:hover, a:focus, a:active, a:hover:active {
  color: #34b1c3;
}

input {
  border: 2px solid #43bccd;
}

.color {
  background-color: #43bccd;
}

.text-notice-line:after {
  background: #f9c80e;
}

.text-notice {
  color: #f9c80e;
}

.list li i {
  color: #f9c80e;
}

#page-preloader .path {
  stroke: #43bccd;
}

.action-button-nav {
  color: #ffffff;
  background-color: #f9c80e;
}

.action-button-nav:hover {
  color: #ffffff;
  background-color: #f9c80e;
}

.action-button-nav:before {
  background: #e8b906;
}

.action-button-cta {
  color: #ffffff;
  background-color: #f9c80e;
}

.action-button-cta:hover {
  color: #ffffff;
  background-color: #f9c80e;
}

.action-button-cta:before {
  background: #e8b906;
}

.hero-button, .buy-button, .order-button, .submit-button {
  color: #ffffff;
  background-color: #43bccd;
}

.hero-button:hover, .buy-button:hover, .order-button:hover, .submit-button:hover {
  color: #ffffff;
  background-color: #43bccd;
}

.hero-button:before, .buy-button:before, .order-button:before, .submit-button:before {
  background: #34b1c3;
}

.header-container .header-content {
  background-color: #43bccd;
}

.header-container .header-content .scroll-link a:after {
  background: #34b1c3;
}

.logo-promo-text:before {
  background: #43bccd;
}

.navbar-default .navbar-nav > li > a:before {
  background: #f9c80e;
}

.navbar-default .navbar-nav > li.current > a:before {
  background: #f9c80e;
}

.navbar-fix .logo-promo-text:before, .navbar2 .logo-promo-text:before {
  background: #f9c80e;
}

.nav-bg {
  background-color: #43bccd;
}

.navbar-page-top {
  background-color: #43bccd !important;
}

.navbar-page-top .logo-promo-text:before {
  background: #f9c80e;
}

.score-graph {
  background-color: #43bccd;
}

.tech-block i {
  color: #f9c80e;
}

.features i {
  color: #43bccd;
}

.gallery-img .slider .flex-direction-nav a:before {
  color: #f9c80e;
}

.product p {
  color: #a8e0e8;
}

.product .product-block .product-bg {
  background-color: #43bccd;
}

.product .product-block .product-content .version-bg {
  color: #43bccd;
}

.product .product-block .sale:before {
  background-color: #f9c80e;
}

.product .product-block .sale-price {
  color: #f9c80e;
}

.product-l2 .product-l2-bg .bg-img {
  background-color: #43bccd;
}

.product-l2 .product-l2-content .product-info .sale:before {
  background-color: #f9c80e;
}

.product-l2 .product-l2-content .product-info .sale-price {
  color: #f9c80e;
}

.order .order-form-bg {
  background-color: #43bccd;
}

.order .order-form-header .order-desc .version {
  color: #a8e0e8;
}

.order .order-form-content select {
  border: 2px solid #43bccd;
}

.order .order-send {
  background-color: #43bccd;
}

.video .play a, .video .play i {
  color: #43bccd;
}

.video .play a:hover, .video .play a:active, .video .play a:focus, .video .play i:hover, .video .play i:active, .video .play i:focus {
  color: #34b1c3;
}

.newsletter .newsletter-notice {
  color: #a8e0e8;
}

.nf-send, .nf-success {
  background-color: #43bccd;
}

.reviews .review:before {
  color: #43bccd;
}

.footer .footer-social-icons li a:hover, .footer .footer-social-icons li a:active, .footer .footer-social-icons li a:focus {
  color: #34b1c3;
}

.footer .footer-bottom-links ul li {
  color: #43bccd;
}

@media (max-width: 992px) {
  .logo-promo-text:before {
    background-color: #f9c80e;
  }
}

@media (max-width: 767px) {
  .header-container .header-content .scroll-link a {
    color: #43bccd;
  }
  .header-container .header-content .scroll-link a:before {
    background-color: #43bccd;
  }
}

@media (max-width: 510px) {
  .order .order-form-header .order-desc .version {
    color: #43bccd;
  }
}
